*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(39, 32, 32);
}
.main{
    display: flex;
    justify-content: center;
    margin: 50px;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}
.w400{
    width: 780px;
    height: 400px;
    background-color: brown;
    text-overflow: clip;
    transition: 900ms;
    cursor: pointer;
    margin: 10px;
}
.w40{
    width: 78px;
    height: 40px;
    cursor: pointer;
    overflow: hidden;
    transition: 900ms;
    margin: 10px;
    background-color: brown;
}
.w40 h1{
    font-size: 10px;
}